.navbar{
    background: #1F618D !important;
    height: 100px !important;
}

.link{
    color: #F1C40F !important;
    font-size: 20px !important;
}

.drawer{
    background: #1F618D !important;
    height: 1000px !important;
}